body {
    margin: 0;
    background-color: #1e1308;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 60px;
    background-color: #1e1308;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 52px;
    font-weight: bold;
    color: #d4af37;
    font-family: "Runescape Chat Font Regular", sans-serif;
}