body {
    margin: 0;
    background-color: #1e1308;
    color: white;
    font-family: Arial, sans-serif;
    justify-content: center;
}

.searchbar {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-top: 40px;      
    width: 100%;             
}
.searchbar input{
    width: 100%;
    max-width: 720px;
}

.navbar {
    height: 60px;
    background-color: #1e1308;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 52px;
    font-weight: bold;
    color: #d4af37;
    font-family: "Runescape Chat Font Regular", sans-serif;
}