body {
    margin: 0;
    background-color: #1e1308;
    color: white;
    font-family: Arial, sans-serif;
    justify-content: center;
}

.searchbar {
    display: flex;
    justify-content: center;
    margin-top: 40px;      
    width: 100%;             
}
.searchbar input{
    width: 100%;
    max-width: 500px;
}

.navbar {
    height: 60px;
    background-color: #1e1308;
}

.navbar-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    gap: 50px;
    font-size: 22px;
    font-family: "Runescape Chat Font Regular", sans-serif;
}

.navbar-links a {
    color: #d4af37;
}

.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 52px;
    font-weight: bold;
    color: #d4af37;
    font-family: "Runescape Chat Font Regular", sans-serif;
}

.page-layout {
    display: center;
    gap: 32px;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
}

.main-content {
    flex: 1;
    min-width: 0;
    text-align: center;
}

.best-deals {
    width: 280px;
    padding: 16px;
    border: 2px solid white;
    box-sizing: border-box;

    margin: 40px auto 0;
}

.best-deals-title {
    margin: 0 0 12px;
    font-size: 28px;
    color: #d4af37;
    font-family: "Runescape Chat Font Regular", sans-serif;
}

.best-deals-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.deal {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #4a3a28;
    text-decoration: none;
    color: white;
}

.deal:last-child {
    border-bottom: none;
    cursor: pointer;
}

.deal-margin {
    color: #00FF00;
}

@media (max-width: 800px) {
    .page-layout {
        flex-direction: column;
    }
    .best-deals {
        width: 100%;
        box-sizing: border-box;
    }
}