.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;

    font-family: "Runescape Chat Font Regular", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.searchbar {
    padding: 5px;
    background-color: #3c3c3c;
    border: 2px solid #676767;
    border-radius: 3px;

    color: white;
}

.sort-dropdown {
    padding: 5px;
    background-color: #3c3c3c;
    border: 2px solid #676767;
    border-radius: 3px;

    color: white;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 0;

    border: 2px solid white;
    width: 70%;
    margin: 0 auto;
}

.item-card {
    font-family: "Runescape Chat Font Regular", sans-serif;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.item-card h3 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
    color: yellow;
    text-shadow: 1px 1px 0px black;
}

.item-card p {
    font-size: 18px;
    margin: 0;
}