.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.item-list {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 70%;
    margin: 0 auto;
}