.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;

    font-family: "Runescape Chat Font Regular", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.item-list {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.item-card {
    font-family: "Runescape Chat Font Regular", sans-serif;
    text-shadow: 1px 1px 0px black;

    padding: 5px;
    border-bottom: 1px solid gray;
}

.item-card h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 24px;
    color: yellow;
}

.item-card p {
    margin: 0;
    font-size: 20px;
}

.page-numbers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    font-family: "Runescape Chat Font Regular", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.page-numbers-container a {
    border-radius: 3px;
    transition: 0.25s background-color;
    padding: 5px;
}

.page-numbers-container a:hover {
    background-color: gray;
    cursor: pointer;
}